@charset "UTF-8";

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;    
    background-image: url("../images/wall.png");
    
}

.menu {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    color: rgb(210, 232, 215);
    border-bottom: 5px solid gold;
}

.panel {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    
}

.square {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    background-color: rgb(163, 247, 219);
    
}

.enemy {
    background-image: url("../images/ralph.png");
    background-size: cover;
}

.menu-lives {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Colocando estilização somente no segundo h2 da classe menu! */
.menu-time h2:nth-child(2), 
.menu-score h2:nth-child(2) {
    margin-top: 1rem;
}